* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    padding: 1rem;
    background: #eee;
}

h1 {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 1.5rem;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

li img {
    max-width: 100%;
    display: block;
    aspect-ratio: 3 / 2;
    width: 100%;
    object-fit: cover;
    grid-column: 1 / 2;
}

li div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    grid-column: 2 / 3;
    padding: .25rem 0;
}

li h4 {
    font-size: 1.5rem;
}

li h5 {
    font-size: 1rem;
}

li h5 span {
    font-weight: 300;
}

li a {
    font-size: 1rem;
}